#witt-multiple-files .bird
{
    background: transparent;
    background-image: url(../_common/img/winged/bird.png) /* procss.sprited() */;
    background-image: url(sprites/multifile_sprite.png) /*~*/;
    background-position: -260px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}
