#witt-multiple-files .bee
{
    background: transparent url(../_common/img/winged/bee.png) no-repeat /* procss.sprited() */;
    background-image: url(sprites/multifile_sprite.png) /*~*/;
    background-position: -260px -132px /*~*/;
    background-repeat: no-repeat /*~*/;
}
