#with-background-position .beaver
{
    background: url(../_common/img/winged/bee.png) -113px -130px,
                url(../_common/img/winged/bird.png) 0 -151px,
                url(../_common/img/beaver.png) /* procss.sprited(,130) */;
    background-image: url(sprites/common.png), url(sprites/common.png), url(sprites/common.png) /*~*/;
    background-position: -17px -386px, -516px 21px, -130px -130px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-background-position .bird
{
    background-image: url(../_common/img/winged/bee.png), url(../_common/img/winged/bird.png) /* procss.sprited() */;
    background-position: -40px -10px, 0 0;
    background-color: transparent;
    background-image: url(sprites/common.png), url(sprites/common.png) /*~*/;
    background-position: -90px -506px, -516px -130px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-background-position .bee
{
    background-image: url(../_common/img/winged/bee.png) /* procss.sprited() */;
    background-color: transparent;
    background-image: url(sprites/common.png) /*~*/;
    background-position: -130px -516px /*~*/;
    background-repeat: no-repeat /*~*/;
}
