#ifexists-add .beaver
{
    background: url(../../_common/img/beaver.png) /* procss.sprite(sum:7a7a4bb334295d6f8997c029e3c6f5842983f22f, sprite) */;
    background-image: url(sprites/sprite.png) /*~~*/;
    background-position: -2px -132px /*~~*/;
    background-repeat: no-repeat /*~~*/;
}

#ifexists-add .bird
{
    background: url(../../_common/img/winged/bird.png) /* procss.sprite(sum:b54b74176b7778d32b8c7b2362b06f29c648b4a1, sprite) */;
    background-image: url(sprites/sprite.png) /*~~*/;
    background-position: -2px -2px /*~~*/;
    background-repeat: no-repeat /*~~*/;
}
