#ifexists-add .beaver
{
    background: url(../../_common/img/beaver.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/sprite.png) /*~*/;
    background-position: -2px -132px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#ifexists-add .bird
{
    background: url(../../_common/img/winged/bird.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/sprite.png) /*~*/;
    background-position: -2px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}
