#ifexists-add .bird
{
    background: transparent;
    background-image: url(../../_common/img/winged/bird.png) /* procss.sprite(sprite) */;
}

#ifexists-add .bee
{
    background: transparent url(../../_common/img/winged/bee.png) no-repeat /* procss.sprite(sprite) */;
}
