#with-padding .beaver
{
    background: url(../_common/img/beaver.png) /* procss.sprited(,20) */;
    background-image: url(sprites/common.png) /*~*/;
    background-position: -20px -20px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-padding .bird
{
    background: transparent;
    background-image: url(../_common/img/winged/bird.png) /* procss.sprited(,84px 20px) */;
    background-image: url(sprites/common.png) /*~*/;
    background-position: -296px -84px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-padding .bee
{
    background: transparent url(../_common/img/winged/bee.png) no-repeat /* procss.sprited(,116 20) */;
    background-image: url(sprites/common.png) /*~*/;
    background-position: -444px -116px /*~*/;
    background-repeat: no-repeat /*~*/;
}
