#ifexists-create .beaver
{
    background: url(../../_common/img/beaver.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/sprite.png) /*~*/;
    background-position: -2px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#ifexists-create .bird
{
    background: url(../../_common/img/winged/bird.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/sprite.png) /*~*/;
    background-position: -260px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#ifexists-create .bee
{
    background: url(../../_common/img/winged/bee.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/sprite.png) /*~*/;
    background-position: -260px -132px /*~*/;
    background-repeat: no-repeat /*~*/;
}
