#with-multiple-backgrounds .beaver
{
    background: url(../_common/img/winged/bee.png), url(../_common/img/beaver.png) /* procss.sprited() */;
    background-image: url(sprites/common.png), url(sprites/common.png) /*~*/;
    background-position: -260px -132px, -2px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-multiple-backgrounds .bird
{
    background-image: url(../_common/img/winged/bee.png), url(../_common/img/winged/bird.png) /* procss.sprited() */;
    background-color: transparent;
    background-image: url(sprites/common.png), url(sprites/common.png) /*~*/;
    background-position: -260px -132px, -260px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-multiple-backgrounds .bee
{
    background-image: url(../_common/img/winged/bee.png) /* procss.sprited() */;
    background-color: transparent;
    background-image: url(sprites/common.png) /*~*/;
    background-position: -260px -132px /*~*/;
    background-repeat: no-repeat /*~*/;
}
