#with-cache .beaver
{
    background: url(../_common/img/beaver.png) /* procss.sprited() */;
    background-image: url(sprites/common.png) /*~*/;
    background-position: -2px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-cache .bird
{
    background: transparent;
    background-image: url(../_common/img/winged/bird.png);
}

#with-cache .bee
{
    background: transparent url(../_common/img/winged/bee.png) no-repeat /* procss.sprited() */;
    background-image: url(sprites/common.png) /*~*/;
    background-position: -260px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}
