#ifexists-use .beaver
{
    background: url(../../_common/img/beaver.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/sprite.png) /*~*/;
    background-position: -2px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#ifexists-use .bird
{
    background: transparent;
    background-image: url(../../_common/img/winged/bird.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/sprite.png) /*~*/;
    background-position: -260px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}
