#ifexists-use .beaver
{
    background: url(../../_common/img/beaver.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/sprite.png) /*~*/;
    background-position: -2px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#ifexists-use .bee
{
    background: url(../../_common/img/winged/bee.png) /* procss.sprited(sprite) */;
    background-image: url(sprites/extended_sprite.png) /*~*/;
    background-position: -2px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}
