#with-config .beaver
{
    background: url(../_common/img/beaver.png) /* procss.sprited(test_sprite) */;
    background-image: url(sprites/test/test_sprite.png) /*~*/;
    background-position: -2px -2px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-config .bird
{
    background: transparent;
    background-image: url(../_common/img/winged/bird.png) /* procss.sprited(test_sprite) */;
    background-image: url(sprites/test/test_sprite.png) /*~*/;
    background-position: -2px -260px /*~*/;
    background-repeat: no-repeat /*~*/;
}

#with-config .bee
{
    background: transparent url(../_common/img/winged/bee.png) no-repeat /* procss.sprited(test_sprite) */;
    background-image: url(sprites/test/test_sprite.png) /*~*/;
    background-position: -2px -390px /*~*/;
    background-repeat: no-repeat /*~*/;
}
