#with-config .beaver
{
    background: url(../_common/img/beaver.png) /* procss.sprite(test) */;
}

#with-config .bird
{
    background: transparent;
    background-image: url(../_common/img/winged/bird.png) /* procss.sprite(test) */;
}

#with-config .bee
{
    background: transparent url(../_common/img/winged/bee.png) no-repeat /* procss.sprite(test) */;
}
